<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST API</title>
    <link rel="stylesheet" href="Style.css">
</head>

<body>
    <h2>REST API Data</h2>
    <button><a href="/new/form">Create Card</a></button> 
    <div class="container">
        <% for(let i of dummy) { %>
            <div id="card">
                <h1>0<%= i.id %>
                </h1>
                <h3>
                    <%= i.title %>
                </h3>
                <p>
                    <%= i.category %>
                </p>
                <button><a href='http://localhost:8000/new<%= i.id %>'>view more</a></button>
                <button><a href="/new/edit<%=i.id %>">Edit Product</a></button>
                <button><a href="/new/remove<%=i.id %>">Remove</a></button>
            </div>
            <% } %>
    </div>
</body>

</html>